Tester/Connected Services/DNSService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" />
  <xs:element name="ChangeDNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" minOccurs="0" name="newConfiguration" nillable="true" type="q1:DNSConfiguration" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" minOccurs="0" name="ChangeDNSResult" nillable="true" type="q2:OperationResultOfDNSConfigurationo4iSXZRF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDNSConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDNSConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" minOccurs="0" name="GetDNSConfigurationResult" nillable="true" type="q3:OperationResultOfDNSConfigurationo4iSXZRF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworkAdapters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworkAdaptersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" minOccurs="0" name="GetNetworkAdaptersResult" nillable="true" type="q4:ArrayOfNetworkAdapterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>