EasyDNS/Connected Services/DNSService/theDiary.EasyDNS.Windows.Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="DNSConfiguration">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="PrimaryDNS" nillable="true" type="q1:IPAddress" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="SecondaryDNS" nillable="true" type="q2:IPAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DNSConfiguration" nillable="true" type="tns:DNSConfiguration" />
  <xs:complexType name="DNSOperationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultOfDNSConfigurationo4iSXZRF">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DNSOperationResult" nillable="true" type="tns:DNSOperationResult" />
  <xs:complexType name="OperationResultOfDNSConfigurationo4iSXZRF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DNSConfiguration" Namespace="http://schemas.datacontract.org/2004/07/theDiary.EasyDNS.Windows.Service">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:DNSConfiguration" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfDNSConfigurationo4iSXZRF" nillable="true" type="tns:OperationResultOfDNSConfigurationo4iSXZRF" />
  <xs:complexType name="ArrayOfNetworkAdapterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkAdapterInfo" nillable="true" type="tns:NetworkAdapterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkAdapterInfo" nillable="true" type="tns:ArrayOfNetworkAdapterInfo" />
  <xs:complexType name="NetworkAdapterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNSConfiguration" nillable="true" type="tns:DNSConfiguration" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPAddress" nillable="true" type="q3:IPAddress" />
      <xs:element minOccurs="0" name="MACAddress" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkAdapterInfo" nillable="true" type="tns:NetworkAdapterInfo" />
  <xs:complexType name="WirelessNetworkAdapterInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NetworkAdapterInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Authentication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Channel" type="xs:int" />
          <xs:element minOccurs="0" name="RadioType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceiveSpeed" type="xs:int" />
          <xs:element minOccurs="0" name="SSID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Signal" type="xs:int" />
          <xs:element minOccurs="0" name="TransmitSpeed" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WirelessNetworkAdapterInfo" nillable="true" type="tns:WirelessNetworkAdapterInfo" />
</xs:schema>